* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poopins", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.menu {
  background: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

.content {
  padding: 20px;
  background: #f4f4f4;
  overflow-y: auto;
}
