.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-title {
  text-align: left;
}

.menu-action-btn {
  margin-left: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: right;

  &:hover {
    background-color: #0056b3;
  }
}
